*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url(../images/donation5.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-description{
    margin: 0 100px 0 20px;
    text-align: center;
    color: aliceblue;
    padding: 10px 0;
}
.btn-primary{
    padding: 15px 16px;
    height: 50px;
    border-radius: 5px;
    background: #fd6e0a;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}
.center{
    text-align: center;
    padding: 10px 0;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav{
    
    justify-content: space-between;
    padding: 200px 300px;
}
.header-title{
    font-weight: 600;
    font-size: 75px;
    color: aliceblue;
    
}
.text-primary{
    padding-left: 250px;
}